@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/NeueMontreal-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal 2';
    src: url('./fonts/NeueMontreal-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('./fonts/FoundersGrotesk-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Founders Grotesk 2';
    src: url('./fonts/FoundersGrotesk-Semibold.woff2') format('woff2');
}